{
  "singleQuote": true,
  "endOfLine": "auto",
  "overrides": [
    {
      "files": ["*.yml", "*.yaml"],
      "options": {
        "tabWidth": 2
      }
    }
  ],
  "plugins": ["prettier-plugin-organize-imports"]
}
